* {box-sizing: border-box;}


#app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/public/images/no_background.png');
  background-repeat: repeat;
  background-size: 500px 250px;
}

#controller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caption {
  text-align: center;
}

#img-original, #img-after {
  max-width: 500px;
  max-height: 300px;
}


#img-original:hover {
  cursor: crosshair;
}

#color-picker-row, .primary-colors {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#color-value-label {
  margin-right: 10px;
}

.color-value-label {
  width: 20px;
}

.primary-colors {
  margin-bottom: 5px;
}

.color-value {
  margin-left: 10px;
}

#remove-selected-color-btn {
  margin-left: 10px;
}

/* * {box-sizing: border-box;} */
.img-magnifier-container {
  position: relative;
}


.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
  /* visibility: hidden; */
}

.img-magnifier-glass::after {
  content: '';
  height: 3px;
  aspect-ratio: 1;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.zoom-preview {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  margin-left: 20px;
  background-repeat: no-repeat;
}